{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <!-- <img src="" class="img-fluid" alt="DjangoX logo"/> -->
  <div id="song">
    <p class="lead">Click the button below to generate a random song idea.</p>
    <form action="/song-idea/" method="post" >
      <!-- hx-post="/song-idea/" hx-target="#song" -->
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Generate Song Idea</button>
    </form>
  </div>
</div>


{% endblock content %}
