@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #e86035;
  border-bottom: solid rgb(155, 155, 155) 1px;
}
.navbar_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar_item {
  padding: 1rem;
}

.navbar_link {
  color: white;
  text-decoration: none;
}

.mobile-button--closed {
  color: white;
}

.navbar__mobile-menu--open {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  color: white;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  transition-duration: 0.3s;
}

.navbar__mobile-menu--closed {
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  text-align: center;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  transition-duration: 300ms;
}

@media (min-width: 640px) {
  .mobile-button,
  .navbar__mobile-menu--open,
  .navbar__mobile-menu--closed {
    visibility: hidden;
  }
}

@media (max-width: 640px) {
  .navbar_list {
    visibility: hidden;
  }
}

.mobile-menu--item {
  padding: 1rem;
  font-size: 2rem;
}
.mobile-menu--item:hover {
  color: #6b7280;
}

/* Landing */

.landing {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/home.jpg");
  height: 100vh;
  width: 100vw;
  color: #e86035;
  display: flex;
  text-align: center;
  align-items: center;
}

.landing-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  padding: 6rem;
}


.landing .btn {
  position: absolute;
  left: 50%;
  background-color: #e86035;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* Home */

.home {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
  background-image: url("./assets/landing.jpg");
  color: #e86035;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  width: 100%;
}

.hero {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
}

.hero h1 {
  margin: 0;
  font-size: 80px;
  background-color: #e86035;
  padding: 0.8rem 3.5rem 0.8rem 3.5rem;
  font-weight: 700;
}
.hero .song-line {
  margin: 1rem 0 1rem 0;
  letter-spacing: 5px;
  font-size: 110px;
  font-weight: 700;
}
.hero .challenge-line {
  margin: 1rem 0 1rem 0;
  letter-spacing: 5px;
  font-size: 110px;
  font-weight: 700;
}

.hero .action {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 1rem;
}

.hero .action h3 {
  margin: 0;
  opacity: 0.55;
}
.hero .action span {
  display: flex;
  flex-direction: row;
}

.hero .action p {
  margin: 0;
}

.hero .action span .orange-background {
  background-color: #e86035;
}
.hero .action span .prompt {
  opacity: 0.55;
  padding-left: 1rem;
}

.challenge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 1rem;
  right: 10%;
  width: 50%;
}

.challenge-container .btn {
  background-color: #e86035;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* About */

.about {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/home.jpg");
  color: #e86035;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about-container {
  position: absolute;
  right: 10%;
  width: 40%;
  font-size: x-large;
}


/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e86035;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer p {
  margin-left: 1rem;
}

footer .footer_title {
  font-family: "Poppins", sans-serif;
}

